<section class="centered">
  <div class="movie-details">
    <h3><%= @title %></h3>
    <p><%= @year %></p>
    <p><%= @rated %></p>
    <p><%= @released %></p>
    <p><%= @runtime %></p>
    <p><%= @genre %></p>
    <p><%= @director %></p>
    <p><%= @writer %></p>
    <p><%= @actor %></p>
    <p><%= @plot %></p>
    <p><%= @language %></p>
    <p><%= @country %></p>
    <p><%= @awards %></p>

    <img src="<%= @poster %>" alt="<% @title %> image">
  </div>
</section>
